body {
    background-color: #6b6e73;
    color: #fff;
    text-align: center;
  }
  
  .container {
    background-color: #fff;
    color: #000;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
  }
  
  .summary-container {
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
  }
  